@use 'variables' as *;
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.site-wrapper {
  max-width: 1148px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family:$font-mono;
  text-transform: uppercase;
  margin-top:0;
}

.button-base {
  color: $black;
  background-color: $gray-medium;
  border: none;
  padding: 1rem 5.625rem;
  font-family: $font-mono;
  font-size: 0.75rem;  // 12px
  font-weight: 400;
  text-transform: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    color: $white;
    background-color: $black;
    font-weight: 700;
  }
}


