@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/space-mono/space-mono-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Space Mono';
    src: url('../fonts/space-mono/space-mono-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Space Mono';
    src: url('../fonts/space-mono/space-mono-bolditalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/poppins-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  