@use 'variables' as *;
// Fichier : _lightbox.scss

.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none; // masqué par défaut
    align-items: center;
    justify-content: center;
  
    &.active {
      display: flex;
    }
  }
  
  .lightbox-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lightbox-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: $white;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .lightbox-prev,
  .lightbox-next {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $white;
    font-family: $font-mono;
    font-size: 0.75rem;
    cursor: pointer;
    user-select: none;
  
    img {
      height: 1rem;
      width: auto;
    }
  }
  
  .lightbox-prev {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .lightbox-next {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .lightbox-media {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .lightbox-image {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }
  
  .lightbox-info {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-family: $font-mono;
    font-size: 0.875rem;
    color: $white;
    text-transform: uppercase;
  
    .lightbox-ref {
      text-align: left;
    }
  
    .lightbox-category {
      text-align: right;
    }
  }