@use 'variables' as *;
.single-photo {
    display: flex;
    flex-direction: column;
    font-family: $font-mono;
    
    .photo-content, 
    .photo-footer {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
    }

    .photo-content {
      padding-top: 2.5rem;

      .photo-infos,
      .photo-image {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;
      }
  
      .photo-infos {
        padding-bottom: 1rem;
        border-bottom: 1px solid $black;
  
        h1 {
          width: 70%;
          font-size: 4.125rem; // 66px
          line-height: 3.625rem; // 58px
          font-style: italic;
          font-weight: 400;
          margin-bottom: 1.25rem;
        }
  
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
  
          li {
            margin-bottom: 1.25rem;
            font-size: 0.875rem;       // 14px
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.10rem;
          }
        }
      }
  
      .photo-image {
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            vertical-align: bottom;
        }
      }
    }
  
    .photo-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 118px;
      border-bottom: 1px solid $black;
  
      .photo-contact {
        display: flex;
        width: 50%;

        p {
          font-family: $font-body;
          font-size: 0.75rem;
        }

        button {
          width: 50%;
          align-self: flex-end;
          margin-left: auto;
        }
      }
  
      .photo-navigation {
        width: 50%;
        display:flex;
        flex-direction: row;
        justify-content: right;

        .photo-preview {
            width: 80px;
            height: 70px;
            border: 1px solid $black;
          
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

        .photo-preview-arrows {
            width: 80px;
            display:flex;
            justify-content: space-between;
        }

        .nav-link {
          text-decoration: none;
        }
      }
    }
  
    .related-photos {
      padding: 5rem 0;
  
      h2 {
        font-size: 1.25rem; // 20px
        font-weight: 400;
        letter-spacing: 0.05em;
        margin-bottom: 2rem;
        letter-spacing: 0.10rem;
      }
  
      .related-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 1.25rem;
        padding-top: 3.75rem;
      }
    }
  }

  @media (max-width: 768px) {
    .single-photo {
      .photo-content {
        flex-direction: column-reverse;
        .photo-infos,
        .photo-image {
          width: 100%;
          height: auto;
        }
      }
      .photo-content .photo-infos h1 {
        font-size:2.875rem;
        width:100%;
      }
  
      .photo-footer {
        flex-direction: column;
        align-items: stretch;
        height: auto;
        gap: 1.5rem;
        padding: 2rem 0;
        .photo-contact {
          display:flex;
          flex-direction: column;
          width: 100%;
        }
        .photo-contact button {
          width:auto;
          align-self: auto;
          margin-left: 0;
        }
      }
      .photo-navigation {
        display: none !important;
      }
      .related-photos {
        padding: 2rem 0;
      }
    .related-photos .related-wrapper {
      padding-top:0;
    }
    }
  }

